extends layout
block content
    h2 Send Message
    p Name: #{user[0].name}
    if(user[0].message)
        p Previous message: #{user[0].message}
    form(method='POST', action='/messengers/add/'+user[0]._id)
        #form-group
            label Message:
            textarea.form-control(name='message')
        br
        input.btn.btn-primary(type='submit',value='Submit')
        a.btn.btn-secondary(href='../', role='button') Back