extends layout
block content
    center
        h2 Withdraw Token
    br
    form(method='POST', action='/wallets/withdraw')
        #form-group
            label(for='Select1') To Account:
            select#Select1.form-control(name='NameEnglish')
                option Bangkok Bank
                - for(var x=0;x<company.length;x++)
                        option #{company[x].NameEnglish}
            label Amount:
            input.form-control(name='amount', type='text')
            label Text Reference:
            textarea.form-control(name='txref')
        br
        center
            input.btn.btn-primary(type='submit',value='Submit')
            a.btn.btn-secondary(href='../', role='button') Back